@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    background: linear-gradient(220deg, rgb(231, 132, 114) 4%, rgb(76, 124, 214) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

#api-credit {
    font-size: 10pt;
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translate(-50%, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Custom scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 5px 5px 5px 0px;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

#main-container {
    position: absolute;
    width: 99%;
    height: 94%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.5);
    overflow-y: hidden;
}
#search-bar {
    padding: 20px 0;
    text-align: center;
    background-color: #444;
    width: 100%;
    height: 80px;
}
#search-box-container {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    height: 60px;
}
#search-box {
    width: 98%;
    height: 35px;
    outline: 0;
    padding-left: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: 0;
    border-radius: 2px;
    transition: background-color 0.3s;
}
#search-box:focus {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid royalblue;
}
#search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}
#loading-icon {
    position: absolute;
    right: 35px;
    top: 8px;
    width: 20px;
    height: 20px;
    background-image: url(pics/loading.svg);
    background-size: contain;
    display: none;
}
#location-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 30px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 0;
}
#location-btn:hover {
    color: #bbb;
    cursor: pointer;
}
#location-btn:active {
    color: white;
}
#search-resultbox {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 45px;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 0;
    font-family: 'Tajawal', Tahoma, Arial;;
    font-weight: 500;
    font-size: 12pt;
    color: white;
    background-color: #222;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #aaa;
    display: none;
}
#search-resultbox > li {
    width: 100%;
    height: 35px;
    text-align: left;
    padding: 7px 0 5px 10px;
    border-bottom: 1px solid #222;
    white-space: nowrap;
    transition: background-color 0.1s;
    overflow: clip;
    text-overflow: ellipsis;
}
#search-resultbox > li:hover {
    background-color: rgb(55, 90, 197);
    cursor: pointer;
}

/*Topbar styling*/
#topbar {
    position: relative;
    width: 100%;
    padding: 15px 15px;
    background-color: #444;    
}
#current-location-info {
    color: white;
    font-family: 'Tajawal', Tahoma, Arial;
    font-size: 14pt;
    line-height: 10pt;
}

/* Tempretaure unit toggle switch*/ 
#temp-unit-checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
}
#temp-unit-container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    padding: 1px 8px;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Verdana;
    background-color: white;
    border-radius: 2px;
}
#temp-unit-container {
    cursor: pointer;
}
#toggle-thumb {
    position: absolute;
    left: 4px;
    width: 23px;
    height: 23px;
    background-color: royalblue;
    border-radius: 2px;
    transition: transform 0.3s;
    transform: translate(0, 1px);
}
#temp-unit-toggle {
    z-index: 999;
}
#temp-unit-checkbox:checked + #temp-unit-container > #toggle-thumb {
    transform: translate(25px, 0);
}

/*Weather forecast timespan navbar*/
#navbar {
    width: 100%;
    height: 50px;
    background-color: #444;
    text-align: center;
}
#navbar > button {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0px 3%;
    height: 45px;
    padding: 0 10px;
    font-family: 'Tajawal', 'Segoe UI', Tahoma, Verdana;
    font-weight: 500;
    font-size: 15pt;
    color: white;
    background-color: transparent;
    border: 0;
}
#navbar > button:hover {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 4px royalblue solid;
    cursor: pointer;
}
#navbar .current-nav {
    background-color: rgba(0,0,0,0.3);
}

/*Today section styling*/
#today-weather-container {
    width: 100%;
    height: 75%;
    overflow-y: auto;
    display: none;
    transition-duration: 0.4s;
}
#today-weather-summary {
    position: relative;
    width: 100%;
    height: 110px;
    font-family: Tahoma, Arial;
    color: #ccc;
    text-shadow: 2px 2px #000;
    font-size: 24pt;
    font-weight: 500;
    background: url(pics/thunder_night.jpg);
    background-size: cover;
    box-shadow: 0 2px 6px #222;
}
#today-location-details {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    font-family: 'Barlow Condensed', Tahoma, Arial;;
    font-size: 16pt;
    line-height: 24pt;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}
#today-weather-icon {
    position: absolute;
    top: 35px;
    left: 10px;
    font-size: 54px;
    width: 70px;
    height: 70px;
    background-image: url(icons/weather-1.1s-344px.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
#today-weather-status {
    position: absolute;
    top: 40px;
    left: 80px;
    font-family: 'Tajawal', Tahoma, Arial;
    font-weight: 700;
    font-size: 34pt;
    line-height: 28px;
}
#today-sky-status {
    position: relative;
    font-size: 18pt;
}
#today-details {
    display: grid;
    width: 100%;
    gap: 10px 20px;
    grid-template-columns: 90%;
    justify-content: center;
    font-family: 'Barlow Condensed', Tahoma, Arial;
    font-size: 16pt;
    font-weight: 700;
    padding: 20px 20px;
}
#today-details > div {
    position: relative;
    height: 35px;
    padding: 5px 0 0 10px;
    border-left: 5px solid royalblue;
}
.detail-value {
    position: absolute;
    right: 0px;
    font-weight: bold;
}

/*Hourly section styling*/
#hourly-container {
    width: 100%;
    height: 70%;
    overflow-y: auto;
    display: none;
}
.forecast-element {
    position: relative;
    width: 100%;
    height: 40px;
    font-family: 'Barlow Condensed', Tahoma, Arial;
    font-size: 16pt;
    border-top: #aaa solid 1px;
    transition: height 0.2s;
}
.forecast-element:hover {
    cursor: pointer;
}
.forecast-element-time {
    position: absolute;
    left: 10px;
    top: 5px;
}
.forecast-element-icon {
    position: relative;
    display: inline-block;
    left: 110px;
    top: 10px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
}
.forecast-element-temp {
    position: relative;
    left: 120px;
    top: 5px;
    font-weight: bold;
}
.forecast-element-status {
    position: relative;
    left: 130px;
    top: 5px;
}
.forecast-element-arrow {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12pt;
    color: royalblue;
    transition: transform 0.2s;
}
.forecast-element-detail {
    position: relative;
    width: 100%;
    height: 0px;
    top: 10px;
    display: grid;
    font-size: 16pt;
    grid-template-columns: 45% 45%;
    gap: 0px 0px;
    justify-content: space-evenly;
    background-color: #fff;
    border-top: #aaa solid 1px;
    overflow: hidden;
    transition: height 0.2s;
}
.forecast-element-detail-item {
    position: relative;
    height: 35px;
    padding: 5px 0 0 5px;
    border-bottom: #aaa solid 1px;
}
.detail-icon {
    color: royalblue;
}

/*Daily section styling*/
#daily-container {
    width: 100%;
    height: 78%;
    overflow-y: auto;
    display: none; 
}
.day-night-head {
    text-align: center;
    font-size: 14pt;
    color: #000;
    margin-bottom: 10px;
    border: 0;
}
@media only screen and (min-width: 600px) {
    #main-container {width: 56%;}
    #search-box {width: 98%;}
    #search-box-container {width: 60%}
    #today-details {grid-template-columns: 45% 45%;}
    #search-resultbox {width: 59%}
}
@media only screen and (min-width: 992px) {
    #main-container {width: 40%;}
    #search-box {width: 100%;}
    #search-box-container {width: 60%}
    #today-details {grid-template-columns: 45% 45%;}
    #search-resultbox {width: 59%}
}